*,
*:before,
*:after{
    margin:0;
    box-sizing: border-box;
}
body{

    background-color: black;
    font-size: 1.1em;

    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}
/* Container
=====================*/
.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}

/* Header
=======================*/
.header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #515369;
    padding: 35px 0;
    align-items: center;
}

.logo{
    font-size: 20px;
    font-weight: 600;
    color: red;
}
/* Nav
========================*/

.nav {
    display: flex;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
}

.nav__link {
    margin-left: 50px;
    color: white;
    text-decoration: none;
    opacity: .75;

    transition: opacity .1s linear;
}
.nav__link:hover {
    /*text-decoration: underline;*/
    opacity: 1;
}

.nav__link:first-child {
    margin-left: 0;
}

/*Intro
==================*/

.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 750px;
    padding-top: 100px;

    background: #31344e url("../images/intro-bg.jpg") center no-repeat;
}

.intro__inner{
    width: 100%;
    max-width: 970px;
    margin: 0 auto;
    text-align: center;
}

.intro__title {
    margin: 0 0 30px;

    font-family: 'Roboto', sans-serif;
    font-size: 65px;
    line-height: 1.1;
    color: #fff;
    font-weight: 700;
    /*text-transform: uppercase;*/
}

.intro__subtitle {
    margin-bottom: 60px;

    font-size: 22px;
    color: #fff;
    line-height: 1.5;
    font-weight: 400;
}

/*Button
==================*/
.btn {
    display: inline-block;
    vertical-align: top;
    padding: 14px 40px;

    border-radius: 2px;
    border: 0;
    cursor: pointer;
    
    font-size: 13px;
    font-weight: 600;
    font-family: inherit;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;

    transition: background .1s linear;
}

.btn--red {
    background-color: #e84545;
}

.btn--red:hover {
    background-color: #dd3434;
}

/* Features
========================*/
.features {
    display: flex;
    flex-wrap: wrap;
    margin: 100px 0;

    background: #fff;

}

.features__item {
    width: 33.33333%;
    padding: 0 20px;
    text-align: center;
}

.features__icon {
    margin-bottom: 25px;
}

.features__title {
    margin-bottom: 20px;

    font-size: 16px;
    color: #2d3033;
    font-weight: 700;
}

.features_text {
    font-size: 14px;
    line-height: 1.5;
    color: #6c7279;
}
/*
header{
    height: 150px;
    width: 100%;
    background: red;
    padding: 1em;
}

main{
    height: 700px;
    width: calc(100%-300px);
    background: white;
    padding: 1em;
    display: inline-block;
    margin: 30px auto;
}

aside{
    height: 500px;
    width: 250px;
    background: green;
    padding: 1em;
    display: inline-block;
}

footer{
    height: 200px;
    width: 100%;
    background: black;
    padding: 1em;
}

@media(min-width: 576px){
    *{color: blue;}
}

@media(min-width: 768px){
    *{color: white;}
}

@media(min-width: 992px){
    *{color: gold;}
}

@media(min-width: 1200px){
    *{color: deeppink;}
}*/